* {
  color: wheat;
}
body {
  font-family: sans-serif;
  background-image: url('images/space-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a,
nav h3 {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  border: solid 1px transparent;
  transition: border 0.5s ease;
}

nav a:hover {
  border: solid wheat 1px;
  padding: 10px;
  transition: border 0.5s ease;
}

.nav-container {
  display: flex;
  align-items: center;
  color: wheat;
}

.nav-container h1 {
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Orbitron', sans-serif;
}
div {
  transition: all 0.5s ease;
}
.nav-container {
  display: flex;
  align-items: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

.player-container {
  display: flex;
  border: 1px solid black;
  height: 600px;
  justify-content: space-evenly;
  width: 100vw;
}

.player-card h3 {
  text-align: center;
}

.player-card {
  border: 6px dashed transparent;
  border-radius: 12%;
  padding: 10px;
  margin: 10px;
  width: 11vw;
  height: 14vw;
  /* width: 220px;
  height: 220px; */
  position: relative;
}

.video-wrapper {
  height: 100%;
}

.nominated {
  border: 6px dashed wheat;
}

.nominator-true {
  background-color: goldenrod;
}

#player0,
#player4 {
  top: 125px;
}

#player1,
#player3 {
  top: 75px;
}

#role1,
#role0 {
  background-image: url('images/goodspaceman.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role2 {
  background-image: url('images/badspaceman.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role3 {
  background-image: url('images/commander.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

.mission-container {
  display: flex;
  justify-content: space-evenly;
  width: 840px;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.mission .pending {
  background-image: url('images/mission-pending.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.mission .good {
  background-image: url('images/goodspaceman.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.mission .bad {
  background-image: url('images/badspaceman.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.mission .succeed {
  background-image: url('images/mission-success.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.mission .fail {
  background-image: url('images/mission-fail.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.individual-video > div {
  display: flex;
}

.individual-video:first-child {
  display: flex;
  justify-content: space-evenly;
}

.individual-video > div > div > div {
  margin: 10px;
}

.OTPublisherContainer {
  width: 200px !important;
}

.OTSubscriberContainer {
  width: 200px !important;
}

.individual-video > div > div {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  top: 0px;
  z-index: 1;
}

.game-button {
  border: 1px wheat solid;
  padding: 5px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  max-width: 200px;
}

.game-button:hover {
  border: 1px wheat solid;
  padding: 5px;
  background-color: wheat;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  max-width: 200px;
  color: gray;
  cursor: pointer;
}

input:not([type='submit']):not([type='file']) {
  border: 1px solid wheat;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: transparent;
  margin: 0 0 10px 0;
}

.submit-nomination {
  transition: all 0.5s ease;
  display: block;
  position: relative;
  margin: 0 auto;
  top: -200px;
}

#startgame-button {
  position: relative;
  top: -425px;
  margin: 0 auto;
}

.not-ready {
  border: 1px solid transparent;
  color: transparent;
  z-index: -1000;
}

.nomination-vote-container {
  display: flex;
  position: relative;
  top: -440px;
  justify-content: center;
}

.mission-vote-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -430px;
}
