body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.player-container {
  display: flex;
  border: 1px solid black;
  height: 600px;
  justify-content: space-evenly;
}

.player-card {
  border: 1px dashed black;
  border-radius: 12%;
  padding: 10px;
  margin: 10px;
  width: 220px;
  height: 220px;
  position: relative;
}

#player0,
#player4 {
  top: 125px;
}

#player1,
#player3 {
  top: 75px;
}

#role1,
#role0 {
  background-image: url('images/goodspaceman.png');
  background-size: cover;
  width: 200px;
  height: 250px;
}

#role2 {
  background-image: url('images/badspaceman.png');
  background-size: cover;
  width: 200px;
  height: 250px;
}

#role3 {
  background-image: url('images/commander.png');
  background-size: cover;
  width: 200px;
  height: 250px;
}

.mission-container {
  display: flex;
  justify-content: space-evenly;
  width: 840px;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.mission .pending {
  background-image: url('images/mission-pending.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.mission .succeed {
  background-image: url('images/mission-success.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.mission .fail {
  background-image: url('images/mission-fail.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}
