* {
  color: wheat;
}
body {
  font-family: sans-serif;
  background-image: url('images/space-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a,
nav h3 {
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  border: solid 1px transparent;
  transition: border 0.5s ease;
}

nav a:hover {
  border: solid wheat 1px;
  padding: 10px;
  transition: border 0.5s ease;
}

.nav-container {
  display: flex;
  align-items: center;
  color: wheat;
}

.nav-container h1 {
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Orbitron', sans-serif;
}
div {
  transition: all 0.5s ease;
}
.nav-container {
  display: flex;
  align-items: center;
}

form div {
  margin: 1em;
}

.player-container {
  display: flex;
  /* border: 1px solid black; */
  height: 600px;
  justify-content: space-evenly;
  width: 100vw;
}

.player-card h3 {
  text-align: center;
}

.player-card {
  border: 6px dashed transparent;
  border-radius: 12%;
  padding: 10px;
  margin: 10px;
  width: 11vw;
  height: 14vw;
  /* width: 220px;
  height: 220px; */
  position: relative;
}

.video-wrapper {
  height: 100%;
}

.nominated {
  border: 6px dashed wheat;
}

.nominator-true {
  background-color: goldenrod;
}

/* #player0,
#player4 {
  top: 125px;
}

#player1,
#player3 {
  top: 75px;
}

#player5 {

  top: 200px;
} */
#role1,
#role0 {
  background-image: url('images/goodspaceman.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role2 {
  background-image: url('images/badspaceman.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role3 {
  background-image: url('images/commander.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role4 {
  background-image: url('images/assassin.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role5 {
  background-image: url('images/percival.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role6 {
  background-image: url('images/morgana.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role7 {
  background-image: url('images/mordred.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

#role8 {
  background-image: url('images/oberon.png');
  background-size: cover;
  /* width: 220px;
  height: 273px; */
}

.mission-container {
  display: flex;
  justify-content: space-evenly;
  width: 840px;
  margin: 0 auto;
  position: relative;
  top: -100px;
  align-items: center;
}

.mission-number {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  margin: 10px 0px;
}

.mission {
  width: 100px;
  text-align: center;
}

.mission .pending {
  background-image: url(images/mission-pending.png);
  width: 100px;
  height: 130px;
  background-size: cover;
}

.other-info {
  display: none;
}

.mission .succeed {
  background-image: url('images/mission-success.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.mission .fail {
  background-image: url('images/mission-fail.png');
  width: 100px;
  height: 130px;
  background-size: cover;
}

.individual-video > div {
  display: flex;
}

.individual-video:first-child {
  display: flex;
  justify-content: space-evenly;
}

.individual-video > div > div > div {
  margin: 10px;
}

.OTPublisherContainer {
  width: 200px !important;
}

.OTSubscriberContainer {
  width: 200px !important;
}

.individual-video > div > div {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  top: 0px;
  z-index: 1;
}

.game-button {
  border: 1px wheat solid;
  padding: 5px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  max-width: 200px;
}

.game-button:hover {
  border: 1px wheat solid;
  padding: 5px;
  background-color: wheat;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  max-width: 200px;
  color: gray;
  cursor: pointer;
}

input:not([type='submit']):not([type='file']) {
  border: 1px solid wheat;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: transparent;
  margin: 0 0 10px 0;
}

.submit-nomination {
  transition: all 0.5s ease;
  display: block;
  position: relative;
  margin: 0 auto;
  top: -200px;
}

.nominator-info {
  position: relative;
  top: -200px;
  text-align: center;
}

#startgame-button {
  position: relative;
  top: -425px;
  margin: 0 auto;
}

.not-ready {
  border: 1px solid transparent;
  color: transparent;
  z-index: -1000;
}

.nomination-vote-container {
  z-index: 1;
  display: flex;
  position: relative;
  top: -440px;
  justify-content: center;
}

.nomination-vote {
  position: relative;
  top: -475px;
  justify-content: center;
  text-align: center;
}
.mission-vote-buttons {
  display: flex;
  justify-content: center;
  /* position: relative;
  top: -430px; */
}
.nomination-vote-buttons {
  display: flex;
  justify-content: center;
}

.mission-vote {
  position: relative;
  top: -470px;
  text-align: center;
}

.game-card {
  display: flex;
  width: 300px;
  /* justify-content: right; */
  position: relative;
  background-image: url(/images/space-background.jpg);
  height: 200px;
  background-size: cover;
  margin: 10px;
  opacity: 0.5;
  border-radius: 25px;
  align-items: flex-end;
  padding: 10px;
  /* border: 10px; */
}

.game-card:hover {
  opacity: 1;
  width: 305px;
  height: 200px;
  padding: 10px;

  /* border-color: red;
  border-style: double;
  border-width: 10px; */
}

/* Game Input Form */

.game-form {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
}

.mission-input {
  display: flex;
  justify-content: space-between;
}

.role-input {
  display: flex;
  justify-content: space-between;
}

input[type='text'],
input[type='number'] {
  font-size: 26px;
}

label p {
  font-family: 'Orbitron', sans-serif;
}

label.mission-form-detail {
  padding: 20px;
  background-color: rgba(155, 155, 155, 0.1);
}

.user-home {
  padding: 10px;
}

.goodwin {
  font-size: 20vw;
  height: 100vw;
  width: 100vw;
  position: absolute;
  z-index: 1000;
  /* background-color: rgba(255,255,255,.5); */
  text-align: center;
  background-image: url(/images/goodwin.jpg);
  background-size: contain;
  opacity: 0.8;
  color: green;
}

.badwin {
  font-size: 20vw;
  height: 100vw;
  width: 100vw;
  position: absolute;
  z-index: 1000;
  /* background-color: rgba(255,255,255,.5); */
  text-align: center;
  background-image: url(/images/badwin.jpg);
  background-size: contain;
  opacity: 0.8;
  color: red;
}

#leave {
  z-index: 1500;
}

.waiting-on-nom {
  position: relative;
  top: -160px;
  text-align: center;
}

.badge-username {
  margin-top: 25px;
}

.tips-text .true {
  display: block;
}

.tips-text {
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  /* background-color: #fefefe; */
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  padding: 2px 16px;
  background-color: #4e9478;
  color: white;
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 16px;
  line-height: 1.4em;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#rulestext ul {
  list-style-type: none;
}

#rulestext {
  align-content: center;
  color: black;
}
.roles-rules {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.roles-rules p {
  margin-left: 15px;
}

.good-rules {
  border: 1px solid #6eebbd;
}

.bad-rules {
  border: 1px solid #e96a95;
}

.game-link {
  width: 300px;
  display: block;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
